# docker-compose.yml
services:
  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "5050:5050"
    networks:
      - todo-network
    volumes:
      - ./backend:/app  # Для разработки, можно убрать в production

  nginx:
    image: nginx:alpine
    container_name: todo-nginx
    ports:
      - "8001:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro  # :ro - только чтение
    depends_on:
      - backend
    networks:
      - todo-network

networks:
  todo-network:
    driver: bridge