# docker-compose.yml
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    ports:
      - "8001:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    command: >
      sh -c "
        # Создаем конфиг на лету
        echo 'server {
          listen 80;
          server_name localhost;
          location / {
            root /usr/share/nginx/html;
            index index.html;
            try_files \$uri \$uri/ /index.html;
          }
          location /api {
            proxy_pass http://backend:5000;
            proxy_set_header Host \$host;
          }
        }' > /etc/nginx/conf.d/default.conf
        && nginx -g 'daemon off;'
      "
    depends_on:
      - backend